div{
    background-color: blue;
    height: 50px;
    width: 50px;
    position: relative; 
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;

}

@keyframes example{
    0%{
        transform: translate(0,0);
        background-color: blueviolet;
    }
    25%{
        transform: translate(0,300px);
        background-color: brown;
    }
    50%{
        transform: translate(300px,300px);
        background-color: bisque;
    }
    100%{
        transform: translate(0,0);
        background-color: aqua;
    }
}