#out{
    height: 500px;
    width: 200px;
    background-color:black ;
    padding-top: 0px;
    border-radius: 10px;
}
#red{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 20px;
    padding: 20px;
    text-align: center;
    
}
#green{
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 20px;
    text-align: center;
}
#yellow{
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 50%;
    background-color: yellow;
    margin: 20px;
    text-align: center;
    
}